#packed-box, #packed-empty {
  margin-top: 20px;
  grid-column-start: 8;
  grid-column-end: 12;
}

.item-box {
    display: flex;
    align-items: center;
}

/*Div with just checkbox and name of task*/
.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item p {
  word-wrap: break-word;
}

/*Making sure only delete-icon is visible on delete-button*/
.delete-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.delete-icon {
    height: 10px;
}

.item-form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form {
    display: flex;
    flex-direction: row;
}

.input-field {
  height: 40px;
  padding: 10px 10px 10px 16px;
  resize: none;
  border: none;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 16px;
}

.submit-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
  }

  .add-icon {
    height: 40px;
  }

  /* STYLING FOR COSTUM CHECKBOXES*/
/* Hide the browser's default checkbox */
.checkbox {
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

/* Styling for custom checkbox */
.checkbox-field {
  position: relative;
}

/* Create a box*/
.checkmark {
  position: absolute;
  right: 2px;
  bottom: 5px;
  height: 20px;
  width: 20px;
  background-color: #dedede;
}

/*On hover*/
.checkmark:hover {
  background-color: #c6f1f5;
  cursor: pointer;
}

/* When the checkbox is checked*/
.checkbox:checked ~ .checkmark {
  background-color: #9cbcdf;
  transition: 0.2s ease;
}

/* Create a checkmark that is visible when checkbox is checked*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  transition: 0.2s ease;
}

.checkbox:checked ~ .checkmark:after {
  display: block;
}

.checkbox-field .checkmark:after {
  left: 5px;
  bottom: 5px;
  width: 10px;
  height: 16px;
  border: solid #2c3e6f;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checked {
  text-decoration: line-through;
}
